.fotoperfil{
    height: 30%;
    width: max-content;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 45%;
}.fondop{
    height: 500px;
    width: 100%;
}
@media screen and (max-width: 660px){
    .fotoperfil{
        left: 35%;
    }
}
@media screen and (max-width: 500px){

}
@media screen and (max-width: 416px){
    .fondop{
        height: 350px;
        width: 100%;
    }
    .fotoperfil{
        left: 20%;
        top: 15%;
    }
}
@media screen and (min-height: 1000px) {
    .fotoperfil{
        top: 70px;
    }
}
